.idea
./__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
.DS_Store
init_model/
*.tar.gz
test_local/
RapidASR
export/*
*.pyc
.eggs
MaaS-lib
.gitignore
.egg*
dist
build
funasr.egg-info
docs/_build
modelscope
egs/alimeeting/sa_asr/exp
egs/alimeeting/sa_asr/data
egs/alimeeting/sa_asr/profile_log
egs/alimeeting/sa_asr_deprecated/dataset
egs/alimeeting/sa_asr_deprecated/data
egs/alimeeting/sa_asr_deprecated/profile_log
egs/alimeeting/sa_asr_deprecated/run_new.sh

