<!DOCTYPE html>
<html class="writer-html5" lang="en" >
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>时间戳预测 &mdash; FunASR  documentation</title><link rel="stylesheet" href="../../../_static/css/theme.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
  <!--[if lt IE 9]>
    <script src="../../../_static/js/html5shiv.min.js"></script>
  <![endif]-->
  <script id="documentation_options" data-url_root="../../../" src="../../../_static/documentation_options.js"></script>
        <script src="../../../_static/jquery.js"></script>
        <script src="../../../_static/underscore.js"></script>
        <script src="../../../_static/doctools.js"></script>
        <script src="../../../_static/language_data.js"></script>
        <script crossorigin="anonymous" integrity="sha256-Ae2Vz/4ePdIu6ZyI/5ZGsYnb+m0JlOmKPjt6XZ9JJkA=" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.4/require.min.js"></script>
    <script src="../../../_static/js/theme.js"></script>
    <link rel="index" title="Index" href="../../../genindex.html" />
    <link rel="search" title="Search" href="../../../search.html" /> 
</head>

<body class="wy-body-for-nav"> 
  <div class="wy-grid-for-nav">
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >

          
          
          <a href="../../../index.html" class="icon icon-home">
            FunASR
          </a>
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" aria-label="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>
        </div><div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="Navigation menu">
              <p class="caption"><span class="caption-text">Installation</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../installation/installation.html">Installation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../installation/docker.html">Docker</a></li>
</ul>
<p class="caption"><span class="caption-text">Quick Start</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../funasr/quick_start.html">Quick Start</a></li>
</ul>
<p class="caption"><span class="caption-text">Academic Egs</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../academic_recipe/asr_recipe.html">Speech Recognition</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../academic_recipe/punc_recipe.html">Punctuation Restoration</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../academic_recipe/vad_recipe.html">Voice Activity Detection</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../academic_recipe/sv_recipe.html">Speaker Verification</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../academic_recipe/sd_recipe.html">Speaker Diarization</a></li>
</ul>
<p class="caption"><span class="caption-text">ModelScope Egs</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../modelscope_pipeline/quick_start.html">Quick Start</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../asr/TEMPLATE/README.html">Speech Recognition</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../vad/TEMPLATE/README.html">Voice Activity Detection</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../punctuation/TEMPLATE/README.html">Punctuation Restoration</a></li>
<li class="toctree-l1"><a class="reference internal" href="README.html">Timestamp Prediction (FA)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../modelscope_pipeline/sv_pipeline.html">Speaker Verification</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../modelscope_pipeline/sd_pipeline.html">Speaker Diarization</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../modelscope_pipeline/itn_pipeline.html">Inverse Text Normalization (ITN)</a></li>
</ul>
<p class="caption"><span class="caption-text">Model Zoo</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../model_zoo/modelscope_models.html">Pretrained Models on ModelScope</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../model_zoo/huggingface_models.html">Pretrained Models on Huggingface</a></li>
</ul>
<p class="caption"><span class="caption-text">Runtime and Service</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../funasr/runtime/docs/SDK_tutorial_online.html">FunASR Realtime Transcribe Service</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../funasr/runtime/docs/SDK_tutorial.html">FunASR Offline File Transcription Service</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../funasr/runtime/python/websocket/README.html">Service with websocket-python</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../funasr/runtime/websocket/readme.html">Service with websocket-cpp</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../funasr/runtime/html5/readme.html">Speech Recognition Service Html5 Client Access Interface</a></li>
</ul>
<p class="caption"><span class="caption-text">Benchmark and Leaderboard</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../benchmark/benchmark_onnx.html">CPU Benchmark (ONNX-python)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../benchmark/benchmark_onnx_cpp.html">CPU Benchmark (ONNX-cpp)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../benchmark/benchmark_libtorch.html">CPU Benchmark (Libtorch)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../benchmark/benchmark_pipeline_cer.html">Leaderboard IO</a></li>
</ul>
<p class="caption"><span class="caption-text">Funasr Library</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../reference/build_task.html">Build custom tasks</a></li>
</ul>
<p class="caption"><span class="caption-text">Papers</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../reference/papers.html">Papers</a></li>
</ul>
<p class="caption"><span class="caption-text">Application</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../reference/application.html">Audio Cut</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../reference/application.html#realtime-speech-recognition">Realtime Speech Recognition</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../reference/application.html#audio-chat">Audio Chat</a></li>
</ul>
<p class="caption"><span class="caption-text">FQA</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../reference/FQA.html">FQA</a></li>
</ul>

        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap"><nav class="wy-nav-top" aria-label="Mobile navigation menu" >
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../../index.html">FunASR</a>
      </nav>

      <div class="wy-nav-content">
        <div class="rst-content">
          <div role="navigation" aria-label="Page navigation">
  <ul class="wy-breadcrumbs">
      <li><a href="../../../index.html" class="icon icon-home" aria-label="Home"></a></li>
      <li class="breadcrumb-item active">时间戳预测</li>
      <li class="wy-breadcrumbs-aside">
            <a href="../../../_sources/egs_modelscope/tp/TEMPLATE/README_zh.md.txt" rel="nofollow"> View page source</a>
      </li>
  </ul>
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
             
  <p>(简体中文|<a class="reference internal" href="README.html"><span class="doc">English</span></a>)</p>
<div class="section" id="id1">
<h1>时间戳预测<a class="headerlink" href="#id1" title="Permalink to this headline"></a></h1>
<div class="section" id="id2">
<h2>推理<a class="headerlink" href="#id2" title="Permalink to this headline"></a></h2>
<div class="section" id="id3">
<h3>快速使用<a class="headerlink" href="#id3" title="Permalink to this headline"></a></h3>
<div class="section" id="tp-aligner">
<h4><a class="reference external" href="https://modelscope.cn/models/damo/speech_timestamp_prediction-v1-16k-offline/summary">TP-Aligner 模型</a><a class="headerlink" href="#tp-aligner" title="Permalink to this headline"></a></h4>
<div class="highlight-python notranslate"><div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">modelscope.pipelines</span> <span class="kn">import</span> <span class="n">pipeline</span>
<span class="kn">from</span> <span class="nn">modelscope.utils.constant</span> <span class="kn">import</span> <span class="n">Tasks</span>

<span class="n">inference_pipeline</span> <span class="o">=</span> <span class="n">pipeline</span><span class="p">(</span>
    <span class="n">task</span><span class="o">=</span><span class="n">Tasks</span><span class="o">.</span><span class="n">speech_timestamp</span><span class="p">,</span>
    <span class="n">model</span><span class="o">=</span><span class="s1">&#39;damo/speech_timestamp_prediction-v1-16k-offline&#39;</span><span class="p">,</span>
    <span class="n">model_revision</span><span class="o">=</span><span class="s1">&#39;v1.1.0&#39;</span><span class="p">)</span>

<span class="n">rec_result</span> <span class="o">=</span> <span class="n">inference_pipeline</span><span class="p">(</span>
    <span class="n">audio_in</span><span class="o">=</span><span class="s1">&#39;https://isv-data.oss-cn-hangzhou.aliyuncs.com/ics/MaaS/ASR/test_audio/asr_example_timestamps.wav&#39;</span><span class="p">,</span>
    <span class="n">text_in</span><span class="o">=</span><span class="s1">&#39;一 个 东 太 平 洋 国 家 为 什 么 跑 到 西 太 平 洋 来 了 呢&#39;</span><span class="p">,)</span>
<span class="nb">print</span><span class="p">(</span><span class="n">rec_result</span><span class="p">)</span>
</pre></div>
</div>
<p>Timestamp pipeline can also be used after ASR pipeline to compose complete ASR function, ref to <a class="reference external" href="https://github.com/alibaba-damo-academy/FunASR/discussions/246">demo</a>.</p>
</div>
</div>
<div class="section" id="api">
<h3>API接口说明<a class="headerlink" href="#api" title="Permalink to this headline"></a></h3>
<div class="section" id="pipeline">
<h4>pipeline定义<a class="headerlink" href="#pipeline" title="Permalink to this headline"></a></h4>
<ul class="simple">
<li><p><code class="docutils literal notranslate"><span class="pre">task</span></code>: <code class="docutils literal notranslate"><span class="pre">Tasks.speech_timestamp</span></code></p></li>
<li><p><code class="docutils literal notranslate"><span class="pre">model</span></code>: <a class="reference external" href="https://alibaba-damo-academy.github.io/FunASR/en/model_zoo/modelscope_models.html#pretrained-models-on-modelscope">模型仓库</a> 中的模型名称，或本地磁盘中的模型路径</p></li>
<li><p><code class="docutils literal notranslate"><span class="pre">ngpu</span></code>: <code class="docutils literal notranslate"><span class="pre">1</span></code>（默认），使用 GPU 进行推理。如果 ngpu=0，则使用 CPU 进行推理</p></li>
<li><p><code class="docutils literal notranslate"><span class="pre">ncpu</span></code>: <code class="docutils literal notranslate"><span class="pre">1</span></code> （默认），设置用于 CPU 内部操作并行性的线程数</p></li>
<li><p><code class="docutils literal notranslate"><span class="pre">output_dir</span></code>: <code class="docutils literal notranslate"><span class="pre">None</span></code> （默认），如果设置，输出结果的输出路径</p></li>
<li><p><code class="docutils literal notranslate"><span class="pre">batch_size</span></code>: <code class="docutils literal notranslate"><span class="pre">1</span></code> （默认），解码时的批处理大小</p></li>
</ul>
</div>
<div class="section" id="infer-pipeline">
<h4>Infer pipeline<a class="headerlink" href="#infer-pipeline" title="Permalink to this headline"></a></h4>
<ul>
<li><p><code class="docutils literal notranslate"><span class="pre">audio_in</span></code>: 待预测的输入语音，可以是：</p>
<ul>
<li><p>wav文件路径，例如：asr_example.wav（本地或 URL 上的 wav 文件）</p></li>
<li><p>wav.scp，kaldi 风格的 wav 列表 (<code class="docutils literal notranslate"><span class="pre">wav_id</span> <span class="pre">wav_path</span></code>)，例如:</p>
<div class="highlight-text notranslate"><div class="highlight"><pre><span></span>asr_example1  ./audios/asr_example1.wav
asr_example2  ./audios/asr_example2.wav
</pre></div>
</div>
</li>
</ul>
<p>在使用 <code class="docutils literal notranslate"><span class="pre">wav.scp</span></code> 输入时，必须设置 <code class="docutils literal notranslate"><span class="pre">output_dir</span></code> 以保存输出结果。</p>
</li>
<li><p><code class="docutils literal notranslate"><span class="pre">text_in</span></code>: 待预测的输入文本，使用空格分隔，可以是：</p>
<ul>
<li><p>文本字符串，例如：<code class="docutils literal notranslate"><span class="pre">今</span> <span class="pre">天</span> <span class="pre">天</span> <span class="pre">气</span> <span class="pre">怎</span> <span class="pre">么</span> <span class="pre">样</span></code></p></li>
<li><p>text.scp，kaldi 风格的文本文件（<code class="docutils literal notranslate"><span class="pre">wav_id</span> <span class="pre">transcription</span></code>），例如：</p>
<div class="highlight-text notranslate"><div class="highlight"><pre><span></span>asr_example1 今 天 天 气 怎 么 样
asr_example2 欢 迎 体 验 达 摩 院 语 音 识 别 模 型
</pre></div>
</div>
</li>
</ul>
</li>
<li><p><code class="docutils literal notranslate"><span class="pre">audio_fs</span></code>: 音频采样率，仅在输入为 PCM 音频时设置</p></li>
<li><p><code class="docutils literal notranslate"><span class="pre">output_dir</span></code>: 默认为 None，如果设置，则为结果的输出路径，包含：</p>
<ul>
<li><p>output_dir/timestamp_prediction/tp_sync，带有静音段的以秒为单位的时间戳，<code class="docutils literal notranslate"><span class="pre">wav_id#</span> <span class="pre">token1</span> <span class="pre">start_time</span> <span class="pre">end_time;</span></code>，例如：</p>
<div class="highlight-text notranslate"><div class="highlight"><pre><span></span>test_wav1# &lt;sil&gt; 0.000 0.500;温 0.500 0.680;州 0.680 0.840;化 0.840 1.040;工 1.040 1.280;仓 1.280 1.520;&lt;sil&gt; 1.520 1.680;库 1.680 1.920;&lt;sil&gt; 1.920 2.160;起 2.160 2.380;火 2.380 2.580;殃 2.580 2.760;及 2.760 2.920;附 2.920 3.100;近 3.100 3.340;&lt;sil&gt; 3.340 3.400;河 3.400 3.640;&lt;sil&gt; 3.640 3.700;流 3.700 3.940;&lt;sil&gt; 3.940 4.240;大 4.240 4.400;量 4.400 4.520;死 4.520 4.680;鱼 4.680 4.920;&lt;sil&gt; 4.920 4.940;漂 4.940 5.120;浮 5.120 5.300;河 5.300 5.500;面 5.500 5.900;&lt;sil&gt; 5.900 6.240;
</pre></div>
</div>
</li>
<li><p>output_dir/timestamp_prediction/tp_time，无静音的时间戳列表，以毫秒为单位，与输入文本长度相同，<code class="docutils literal notranslate"><span class="pre">wav_id#</span> <span class="pre">[[start_time,</span> <span class="pre">end_time],]</span></code>，例如：</p>
<div class="highlight-text notranslate"><div class="highlight"><pre><span></span>test_wav1# [[500, 680], [680, 840], [840, 1040], [1040, 1280], [1280, 1520], [1680, 1920], [2160, 2380], [2380, 2580], [2580, 2760], [2760, 2920], [2920, 3100], [3100, 3340], [3400, 3640], [3700, 3940], [4240, 4400], [4400, 4520], [4520, 4680], [4680, 4920], [4940, 5120], [5120, 5300], [5300, 5500], [5500, 5900]]
</pre></div>
</div>
</li>
</ul>
</li>
</ul>
</div>
</div>
<div class="section" id="cpu-gpu">
<h3>使用多线程 CPU 或多个 GPU 进行推理<a class="headerlink" href="#cpu-gpu" title="Permalink to this headline"></a></h3>
<p>FunASR 还提供了 <a class="reference external" href="infer.sh">egs_modelscope/tp/TEMPLATE/infer.sh</a> 脚本，以使用多线程 CPU 或多个 GPU 进行解码。</p>
<div class="section" id="infer-sh">
<h4><code class="docutils literal notranslate"><span class="pre">infer.sh</span></code> 设置<a class="headerlink" href="#infer-sh" title="Permalink to this headline"></a></h4>
<ul class="simple">
<li><p><code class="docutils literal notranslate"><span class="pre">model</span></code>: <a class="reference external" href="https://alibaba-damo-academy.github.io/FunASR/en/model_zoo/modelscope_models.html#pretrained-models-on-modelscope">modelscope模型仓库</a>中的模型名称，或本地磁盘中的模型路径</p></li>
<li><p><code class="docutils literal notranslate"><span class="pre">data_dir</span></code>: 数据集目录需要包括 <code class="docutils literal notranslate"><span class="pre">wav.scp</span></code> 文件。如果 <code class="docutils literal notranslate"><span class="pre">${data_dir}/text</span></code> 也存在，则将计算 CER</p></li>
<li><p><code class="docutils literal notranslate"><span class="pre">output_dir</span></code>: 识别结果的输出目录</p></li>
<li><p><code class="docutils literal notranslate"><span class="pre">batch_size</span></code>: <code class="docutils literal notranslate"><span class="pre">1</span></code>（默认），在 GPU 上进行推理的批处理大小</p></li>
<li><p><code class="docutils literal notranslate"><span class="pre">gpu_inference</span></code>: <code class="docutils literal notranslate"><span class="pre">true</span></code> （默认），是否执行 GPU 解码，如果进行 CPU 推理，则设置为 <code class="docutils literal notranslate"><span class="pre">false</span></code></p></li>
<li><p><code class="docutils literal notranslate"><span class="pre">gpuid_list</span></code>: <code class="docutils literal notranslate"><span class="pre">0,1</span></code> （默认），用于推理的 GPU ID</p></li>
<li><p><code class="docutils literal notranslate"><span class="pre">njob</span></code>: 仅用于 CPU 推理（<code class="docutils literal notranslate"><span class="pre">gpu_inference=false</span></code>），<code class="docutils literal notranslate"><span class="pre">64</span></code>（默认），CPU 解码的作业数</p></li>
</ul>
</div>
<div class="section" id="gpu">
<h4>使用多个 GPU 进行解码：<a class="headerlink" href="#gpu" title="Permalink to this headline"></a></h4>
<div class="highlight-shell notranslate"><div class="highlight"><pre><span></span>    bash infer.sh <span class="se">\</span>
    --model <span class="s2">&quot;damo/speech_paraformer-large_asr_nat-zh-cn-16k-common-vocab8404-pytorch&quot;</span> <span class="se">\</span>
    --data_dir <span class="s2">&quot;./data/test&quot;</span> <span class="se">\</span>
    --output_dir <span class="s2">&quot;./results&quot;</span> <span class="se">\</span>
    --batch_size <span class="m">1</span> <span class="se">\</span>
    --gpu_inference <span class="nb">true</span> <span class="se">\</span>
    --gpuid_list <span class="s2">&quot;0,1&quot;</span>
</pre></div>
</div>
</div>
<div class="section" id="cpu">
<h4>使用多线程 CPU 进行解码：<a class="headerlink" href="#cpu" title="Permalink to this headline"></a></h4>
<div class="highlight-shell notranslate"><div class="highlight"><pre><span></span>    bash infer.sh <span class="se">\</span>
    --model <span class="s2">&quot;damo/speech_paraformer-large_asr_nat-zh-cn-16k-common-vocab8404-pytorch&quot;</span> <span class="se">\</span>
    --data_dir <span class="s2">&quot;./data/test&quot;</span> <span class="se">\</span>
    --output_dir <span class="s2">&quot;./results&quot;</span> <span class="se">\</span>
    --gpu_inference <span class="nb">false</span> <span class="se">\</span>
    --njob <span class="m">1</span>
</pre></div>
</div>
</div>
</div>
</div>
<div class="section" id="finetune-with-pipeline">
<h2>Finetune with pipeline<a class="headerlink" href="#finetune-with-pipeline" title="Permalink to this headline"></a></h2>
<div class="section" id="quick-start">
<h3>Quick start<a class="headerlink" href="#quick-start" title="Permalink to this headline"></a></h3>
</div>
<div class="section" id="finetune-with-your-data">
<h3>Finetune with your data<a class="headerlink" href="#finetune-with-your-data" title="Permalink to this headline"></a></h3>
</div>
</div>
<div class="section" id="inference-with-your-finetuned-model">
<h2>Inference with your finetuned model<a class="headerlink" href="#inference-with-your-finetuned-model" title="Permalink to this headline"></a></h2>
</div>
</div>


           </div>
          </div>
          <footer>

  <hr/>

  <div role="contentinfo">
    <p>&#169; Copyright 2022, Speech Lab, Alibaba Group.</p>
  </div>

  Built with <a href="https://www.sphinx-doc.org/">Sphinx</a> using a
    <a href="https://github.com/readthedocs/sphinx_rtd_theme">theme</a>
    provided by <a href="https://readthedocs.org">Read the Docs</a>.
   

</footer>
        </div>
      </div>
    </section>
  </div>
  <script>
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script> 

</body>
</html>